.dato-id {
    font-size: 15px;
    color: rgba(12, 12, 12, 0.761);
    font-weight: 600;
    text-transform: uppercase;
}

.perfil {
    height: 70%;
    width: 50%;
    box-shadow: 13px 15px 2px 0px rgba(0, 0, 0, 0.27);
    border-radius: 20px;
    border: 1px solid rgba(97, 102, 101, 0.425);
    background-color: #fff;
    display: flex;
    flex-direction: row;
}

.img-perfil {
    margin-top: 10px;
    border-radius: 100px;
    height: 150px;
    width: 150px;
    background-color: rgb(205, 65, 172);
}

.img-perfil img {
    border-radius: 100px;
    height: 150px;
    width: 150px;
}

.col:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.col:nth-child(2) {
    width: 70%;
    height: 100%;
}

.caja-datos-perfil {
    width: 80%;
}

.dato-perfil {
    text-align: center;
    margin-top: 5px;
    width: 100%;
    border: none;
    background-color: #010f0832;
    height: 25px;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dato-perfil span {
    font-size: 16px;
    font-weight: 700;
}

.col h2 {
    margin-left: 20px;
    margin-top: 20px;
}

.perfil-fila {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.perfil-fila .caja-datos-perfil {
    width: 100px;
    margin-top: 15px;
}

.dato-perfil-col-2 {
    text-align: center;
    margin-top: 5px;
    border: none;
    background-color: #010f0832;
    height: 25px;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.dato-correo {
    width: 268px !important;
}

.dato-perfil-col-2 span {
    font-size: 16px;
    font-weight: 700;
}

.fecha-nacimiento {
    width: 110px !important;
}

.estatura-unidad {
    margin-left: 2px;
}