body {
    height: 100vh;
}

.sct-registrar {
    height: auto !important;
}

.form-head {
    padding-top: 10px;
    width: 100%;
    height: 70px !important;
}

.sct-registrar {
    margin-top: 30px !important;
}

.btn-chico {
    position: relative;
    top: 10px;
    width: 80px !important;
    font-size: 14px !important;
    margin-top: 0px !important;
    margin-bottom: 0 !important;
    height: 25px !important;
}

.form-content {
    margin: 20px 30px 60px 30px !important;
}

select {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    height: 30px;
    border-radius: 3px;
    background-color: #0b542f32;
}

#inp-pasos {
    margin-top: 10px;
    border: none;
    background-color: #0b542f32;
    border-radius: 3px;
}

.input-doble {
    margin-left: 70px !important;
}

.input-doble label {
    margin-top: 10px;
}

.lista-ingredientes li {
    padding: 4px;
    text-align: center;
    margin-top: 10px;
    width: 90%;
    border: none;
    background-color: #0b542f32;
    height: auto;
    border-radius: 3px;
}

.foto-receta {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.foto-receta input {
    margin-top: 10px;
}

.form-row {
    display: flex;
    align-items: center;
}

.ing-fila {
    display: flex;
}

.form-row:nth-of-type(1) {
    justify-content: space-between;
}