.sct-registro {
    margin: 0 auto;
    margin-top: 70px;
    height: auto;
    display: flex;
    justify-content: center;
}

h1 {
    padding-bottom: 15px;
}

.form-content {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.form-comments {
    margin: 20px 30px;
    display: flex;
}

.comment-box {
    margin-top: 20px;
}

.inp-foto {
    margin-top: 10px;
}

#txt-sexo {
    font-size: 16px;
    width: 70px;
    height: 40px;
    border: none;
    background-color: #0b542f32;
    border-radius: 3px;
}

.perfil {
    margin-left: 5px;
    margin-top: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.gender {
    flex-direction: row;
}

#btn-registrar {
    margin-left: 25%;
}