.sct-registro {
    height: 60vh;
}

.sct-registro h2 {
    margin-top: 20px;
    text-align: center;
}

.btn-registro {
    width: 300px;
    height: 100px;
    border-radius: 10px;
    border: none;
    background-color: #003735;
}

.btn-registro:hover {
    background-color: #6dab5d;
    cursor: pointer;
}

.btn-registro span {
    color: #fff;
    font-size: 20px;
}

.sct-datos {
    margin-top: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.datos-box {
    height: 100%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.datos-box input:nth-child(9) {
    justify-self: center;
}

.sct-datos input {
    width: 300px;
    height: 100px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background-color: #003735;
    color: #fff;
    padding-left: 15px;
}

.sct-datos input::placeholder {
    color: #fff;
}

.sct-datos option {
    color: #fff;
}

.sct-datos input::-webkit-calendar-picker-indicator {
    background-image: url(/img/calendar-icon.svg);
}

.sct-datos select {
    width: 315px;
    height: 104px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background-color: #003735;
    color: #fff;
    padding-left: 15px;
}

.sct-foto-perfil {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sct-foto-perfil label {
    font-size: 26px;
    font-weight: 600;
}

.img-input {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    border: 1px #000 dashed;
    box-shadow: 0px 6px 25px -8px rgba(0, 0, 0, 0.72);
}