.form-head {
    height: 110px !important;
}

.icono {
    background-color: #fff !important;
}

select {
    margin-top: 10px;
    width: 50%;
    text-align: center;
    height: 30px;
    border-radius: 3px;
    background-color: #0b542f32;
}

select option {
    font-size: 20px;
}

.foto {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}