.form-times {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 36%;
}

.form-times input {
    width: 100px !important;
}

.form {
    height: auto !important;
}

.registrar {
    width: 80px !important;
    height: auto !important;
}

.row {
    display: flex;
    flex-direction: row !important;
}

.form-inp-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-inp-row select {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    height: 30px;
    border-radius: 3px;
    background-color: #0b542f32;
}

.form-content {
    margin-top: 25px !important;
}

#fecha-actividad {
    width: 16% !important;
}

.form-input button {
    margin-left: 100px;
    width: 140px !important;
    height: 30px !important;
    padding: 5px;
}