.sct-registro {
    margin: 0 auto;
    margin-top: 70px;
    height: auto;
    display: flex;
    justify-content: center;
}

h1 {
    padding-bottom: 15px;
}

.form-head {
    height: 10% !important;
}

.form-input input {
    height: 35px !important;
}

.form-content {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 30px !important;
}

.form-comments {
    margin: 20px 30px;
    display: flex;
}

.comment-box {
    margin-top: 20px;
}

.inp-foto {
    margin-top: 10px;
}

#txt-sexo {
    font-size: 16px;
    width: 70px;
    height: 40px;
    border: none;
    background-color: #0b542f32;
    border-radius: 3px;
}

.form-footer {
    height: 70%;
    margin: 20px 30px 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto-perfil {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.gender {
    flex-direction: row;
}